.root {
    -fx-pref-width: 60em;
    -fx-pref-height: 40em;
}

HBox, VBox {
    -fx-spacing: 6.0;
}

.h1e {
    -fx-min-height: 2em;
    -fx-pref-height: 2em;
}

.w4e {
    -fx-pref-width: 8em;
}

.p05e {
    -fx-padding: 0.5em;
}
